
#places-container{
	background:repeat #fff;
	position:relative;
	left:250px;
	top:-543px;
	cursor:pointer;
	width:150px;
	height:25px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	opacity:0.6;
	z-index:1;
	margin-bottom:3px;

}

#places-container:hover,active{
	position:relative;
	left:210px;
	opacity:1;
	width:140px;
	//border-style:solid;
	//border-width:3px;
	//border-color:#ACCEE3;
}
#current{
	background:repeat #fff;
	position:relative;
	left:210px;
	top:-545px;
	height:25px;
	width:150px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-style:solid;
	border-width:3px;
	border-color:#ACCEE3;

box-shadow: 0px 0px 36px #ACCEE3;

-webkit-box-shadow: 0px 0px 16px #ACCEE3;

-moz-box-shadow: 0px 0px 36px #ACCEE3;

}

#places{
	position:relative;
	left:10px;
	top:4px;
	cursor:pointer;
	-moz-user-select:none;
}
